* {

}

.card-img {
    height: 600px;
    width: auto;
    object-fit: cover;
  }

.jumbotron {
    background-color: rgb(200, 157, 157);
    padding-left: 20px;
    padding-right: 20px;
}

.lead {
    float: right;
    
}

.containerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "card11 card22 card33"
    "card11 card22 card33"
    background-color: lightblue;
    padding: 10px;
    }

.card1 {
grid-area: card11;
}

.card2 {
grid-area: card22;
}

.card3 {
grid-area: card33;
}


.bigcontainerGrid {
    border: 30px;
    margin:30px
   
}

.contact-about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 20%;
}

.skills {
   padding-bottom:20%;
   display:flex;
   flex-direction: row;
   justify-content: center;
}

a:hover {
    color: pink
}

.footer-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hyperlink {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 3%;
    padding-right: 3%;
}